* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn {
  all: unset;
  display: block;
  padding: 1rem 2rem;
  border-radius: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  transition: background-color 0.3s ease;
  margin: 2rem 0;
  text-align: center;
}
@media (min-width: 768px) {
  .btn {
    display: inline-block;
  }
}
.btn--primary {
  background-color: #B31312;
  color: #EEE2DE;
}
.btn--primary:hover {
  background-color: #850e0d;
}
.btn--secondary {
  background-color: #EEE2DE;
  color: #B31312;
}
.btn--secondary:hover {
  background-color: white;
}
.btn:hover {
  cursor: pointer;
}

.layout {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  margin: 2rem auto;
}
.layout__title {
  text-align: center;
  font-size: clamp(4rem, 6vw, 10rem);
  background-image: linear-gradient(90deg, #B31312, #EA906C);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: 0.2rem dashed #EA906C;
}
.layout__subtitle {
  text-align: right;
  font-size: clamp(1.2rem, 2vw, 2.6rem);
  color: #EA906C;
  padding: 2rem 0;
  text-transform: uppercase;
  opacity: 0.4;
}

@media (min-width: 768px) {
  .list__btn {
    text-align: right;
  }
}
.list__title {
  text-align: center;
  font-size: clamp(2.6rem, 6vw, 4.6rem);
  text-transform: uppercase;
  background-image: linear-gradient(90deg, #2B2A4C, #EA906C);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.list__subtitle {
  text-align: center;
  font-size: clamp(1.6rem, 2vw, 2rem);
  margin: 2rem 0;
  color: #2B2A4C;
  text-transform: capitalize;
  opacity: 0.6;
}
.list__empty {
  text-align: center;
  font-size: clamp(1.6rem, 2vw, 2.6rem);
  color: #EA906C;
  padding: 2rem 0;
  margin: 2rem 0;
  border: 0.2rem dashed #EA906C;
}
.list__priorities {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.list__priority {
  text-transform: lowercase;
}
.list__priority--high {
  border-bottom: 0.3rem solid #B31312;
}
.list__priority--medium {
  border-bottom: 0.3rem solid #D9B310;
}
.list__priority--low {
  border-bottom: 0.3rem solid #2B6B4C;
}
.list__item {
  background-color: #EEE2DE;
  padding: 2rem;
  margin: 2rem 0;
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.list__item--high {
  border-left: 0.5rem solid #B31312;
}
.list__item--medium {
  border-left: 0.5rem solid #D9B310;
}
.list__item--low {
  border-left: 0.5rem solid #2B6B4C;
}

.item__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.item__checkbox {
  accent-color: #B31312;
}
.item__status {
  font-weight: 700;
}
.item__status--completed {
  text-decoration: line-through;
}
.item__status--pending {
  text-decoration: none;
}
.item__delete {
  all: unset;
  color: #B31312;
  font-weight: 900;
}
.item__delete:hover {
  color: #850e0d;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
